:root{
    --background-gradient: linear-gradient(45deg, rgb(160, 160, 159) 0%, rgb(236, 236, 236) 78%, rgb(182, 181, 180) 100%);
    --main-text: #191f1b;
    --logo: #e66d03;
    --form-background: #77b9b9;
    --scroll-background: #e4e4e4;
    --form-input-background: #AADDEE;
    --form-button: #646464;
    --form-submit: #F4D35E;
    --table-background: #FFFFFF;
    --submit-danger: #d31b1b;
    --submit-blue: #1a93ca;
    --footer-border-color: #dbdbdb;

    --font-logo: 'Syne', sans-serif;
    --font-regular: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background-gradient);
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: var(--scroll-background);
}

body::-webkit-scrollbar-thumb {
    height: 8px;
    border: 4px solid;
    border-color: var(--scroll-background);
    border-radius: 9999px;
    background-color: var(--logo);
}

main {
    min-width: 500px;
    min-height: 100vh;
    padding: 0 50px;
    font-family: var(--font-regular);
    margin-bottom: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 140px;
    padding: 50px 10px 10px;
    transition: all 1s ease;
}

.logo_group {
    display: flex;
    gap: 50px;
    align-items: center;
}

.logo {
    font-family: var(--font-logo);
    font-size: 60px;
    color: var(--logo);
    cursor: default;
    transition: all 1s;
}

.menu a {
    font-size: 14px;
    color: var(--main-text);
    text-decoration: none;
    transition: all 1000ms;
}

.menu i {
    margin-right: 8px;
    font-size: 20px;
    color: var(--main-text);
    transition: all 1000ms;
}

.tools {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 14px;
    transition: all 1000ms;
    color: var(--main-text);
}

.tools i {
    font-size: 20px;
    color: var(--main-text);
}

.group_search {
    border-bottom: 1px solid var(--main-text);
}

.group_search input {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    color: var(--main-text);
    border: none;

    background-color: transparent;
}

.group_search input::placeholder {
    color: var(--main-text);
    opacity: .6;
}

.group_search input:focus {
    outline: none;
}

.group_search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.group_user_add,
.group_contact_add,
.group_contact_edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
    border-radius: 10px;
    color: var(--main-text);
    background-color: rgba(0, 0, 0, .2);
}

.group_user_add h2,
.group_contact_add h2,
.group_contact_edit h2 {
    padding-top: 32px;
    font-weight: 400;
    letter-spacing: 4px;
}

.group_user_add .group_input,
.group_contact_add .group_input,
.group_contact_edit .group_input {
    width: 350px;
    border: none;
    border-bottom: 1px solid var(--main-text);
}

.group_input span {
    opacity: .7;
}

.group_input input,
.group_contact_add input,
.group_contact_edit input {
    padding: 16px;
    font-size: 16px;
    color: var(--main-text);
    background-color: transparent;
    border: none;
}

.group_input input:focus {
    outline: none;
}

.submit_group {
    display: flex;
    justify-content: flex-end;
    padding: 16px 0 32px;
}

.submit_group input {
    padding: 16px 24px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--form-button);
    color: var(--form-background);
}

.submit_group input:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.group_contact_add form,
.group_contact_edit form {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 50px;
}

.group_contact_add .submit_group,
.group_contact_edit .submit_group {
    padding: 0;
}

.empty_data {
    display: flex;
    justify-content: center;
    padding: 100px 50px;
    letter-spacing: 4px;
    color: var(--main-text);
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10px;
    padding: 10px;
    height: 45vh;
    color: var(--main-text);
    overflow-y: scroll;
}

.list table {
    width: 100%;
}

.list thead th {
    font-size: 26px;
    letter-spacing: 4px;
    text-align: start;
}

.list th:first-child {
    width: 50%;
    text-align: start;
}

.list .list_item {
    height: 48px;
}

.list tbody .phone_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list .actions {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list .actions .remove,
.list .actions .edit {
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list .actions .edit {
    color: var(--submit-blue);
}

.list .actions .remove {
    color: var(--submit-danger);
}

.list::-webkit-scrollbar {
    width: 16px;
}

.list::-webkit-scrollbar-track {
    background: transparent;
}

.list::-webkit-scrollbar-thumb {
    height: 20px;
    border: 8px solid;
    border-color: var(--scroll-background);
    border-radius: 9999px;
    background-color: var(--scroll-background);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-top: 1px solid var(--footer-border-color);
    font-family: var(--font-regular);
    color: var(--main-text);
    background-color: var(--background-gradient);
}

footer .total {
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding: 0 50px;
}

footer .export_csv button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: var(--main-text);
    cursor: pointer;
}

footer p {
    opacity: 0.5;
}

.tag {
    position: absolute;
    right: -48px;
    top: calc(100vh / 3);
    width: 140px;
    height: 40px;
    padding: 0 0 3px;
    background-image: url('img/textile.png');
    background-repeat: repeat-x;
    background-size: contain;
    transform: rotate(-90deg);
    box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.63);
    cursor: pointer;
}

.inner_tag {
    border-bottom: dashed 2px #0c435c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-family: 'Syne', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}

@media screen and (max-width: 1080px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 80%;
        padding: 0 20px;
        transition: all 1s ease;
    }

    .page {
        padding-top: 16px;
    }

    .logo_group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 40px;
    }

    .tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 32px;
        font-size: 14px;
        color: var(--main-text);
        transition: all 1000ms;
    }

    .tools i {
        font-size: 20px;
        color: var(--main-text);
    }

    .group_contact_add form,
    .group_contact_edit form {
        flex-direction: column;
        gap: 0;
        padding-bottom: 0;
    }

    .group_contact_add .submit_group,
    .group_contact_edit .submit_group {
        padding: 16px 0 32px;
    }

    .list {
        height: 50vh;
        align-items: start;
    }

    .list th:first-child {
        width: 40%;
        text-align: start;
    }

    .list th:last-child {
        width: 10%;
        text-align: start;
    }
}
